body {
    /*background: url("../images/bg.jpg");*/
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    color: #ffffff;
}

ul, li {
    list-style-type: none;
}

section {
    width: 1013px;
    height: 1088px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: auto;
    background: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
}


.hidden {
    display: none;
}

.shown {
    display: inline-block;
}

.highopacity {
    opacity: 1;
    display: inline-block;
}

.lowopacity {
    opacity: 0.3;
    display: inline-block;
}

#container {
    position: absolute;
    top: 100px;
    left: 230px;
    width: 520px;
    margin: 0;
    clear: none;
    display: inline-block;
}

#buttons {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0
}

#baseforms {
    display: inline-block;
    padding-top: 5px;
}

.navtext {
    display: none;
}

#gsbas {
    background-image: url('../images/gs-bas.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gsform {
    background-image: url('../images/gs-form.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gsformett {
    background-image: url('../images/gs-formett.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gsformtva {
    background-image: url('../images/gs-formtva.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gsbasform1 {
    background-image: url('../images/gs-bas-form1.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gsbasform2 {
    background-image: url('../images/gs-bas-form2.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gsbasform3 {
    background-image: url('../images/gs-bas-form3.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gsformett {
    background-image: url('../images/gs-formett.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gsformoneshark {
    background-image: url('../images/gs-form1-shark.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gsform2shark {
    background-image: url('../images/gs-form2-shark.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gscolor {
    background-image: url('../images/gs-color.png');
    background-repeat: no-repeat;
    width: 106px;
    height:106px;
}

#gstexporcelain {
    background-image: url('../images/gs-tex-porcelain.png');
    background-repeat: no-repeat;
    width: 80px;
    height:80px;
}

#gstexbasket {
    background-image: url('../images/gs-tex-basket.png');
    background-repeat: no-repeat;
    width: 80px;
    height:80px;
}

#gstexwaves {
    background-image: url('../images/gs-tex-waves.png');
    background-repeat: no-repeat;
    width: 80px;
    height:80px;
}

.gs-main {
    display: block;
    position: relative;
}

.gsform-level-1 {
    top: 0;
    display: inline-block;
}

.gsform-level-2 {
    position: absolute;
    top: 120px;
    display: inline-block;
    clear: both;
    padding: 0;
    width: 350px;
}


.gsform-level-3 {
    position: absolute;
    top: 120px;
    clear: both;
    padding: 0;
    width: 350px;
    padding: 5px;
}

.gsform-level-3 li {
    display: inline-block;
    clear: none;
}

.gscolor-level-1 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
}

.gsform-level-4 {
    position: absolute;
    top: 120px;
    display: block;
    clear: both;
    padding: 0;
    width: 350px;
    padding: 5px;
}


.gsform-level-5 {
    position: absolute;
    top: 120px;
    display: block;
    clear: both;
    padding: 0;
    width: 350px;
    padding: 5px;
}

.gsform-level-6 {
    position: absolute;
    top: 120px;
    clear: both;
    padding: 0;
    width: 350px;
    padding: 5px;
}

.gsform-level-6 li {
    display: inline-block;
    clear: none;
}

canvas {
    width: inherit;
    height: 100%;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    position: absolute;
    top: 0;
    left: 0;
}


/* Mobile */
@media only screen and (max-width: 480px) {
    body {
        background-color: #0b0b0b;
    }

    #container {
        width: 320px;
        margin: 0;
        left:20px;
        top: 200px;
        clear: none;
        display: inline-block;
    }

    section {
        background: url("../images/bg-mobil.jpg");
        background-repeat: no-repeat;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #buttons {
        width: 100%;
        display: block;
        vertical-align: top;
        position: absolute;
        left: 0;
    }

    .navtext {
        display: block;
    }

    .gs-main {
        top: 0;
        left: 0;
        padding: 0;
    }

    #gsbas,
    #gsform,
    #gsformett,
    #gsformtva,
    #gsbasform1,
    #gsbasform2,
    #gsbasform3,
    #gsformett,
    #gsformoneshark,
    #gsform2shark,
    #gscolor,
    #gstexporcelain,
    #gstexbasket,
    #gstexwaves {
        display: block;
        font-family: Lato, sans-serif;
        background: none;
        padding: 15px;
        border: 1px solid #3f352d;
        background-color: #4e433a;
        clear: both;
        width: 100%;
        height: 25px;
        font-size: 20px;
    }

    .gsform-level-2 {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
    }

    .gscolor-level-1 {
        display: block;
        position: relative;
        top: 0;
        left: 0px;
    }

    .gsform-level-4, .gsform-level-5 {
        padding: 0;
        position: relative;
        top:inherit;
        width: inherit;
    }


}

/* iPad */
@media only screen and (min-width : 481px) {

    body {
        background-color: #0b0b0b;
    }

    h1 {
        font-size: 45px;
        padding-left: 20px;
    }


        background: url("../images/bg-mobil.png");
        background-repeat: no-repeat;
    }
}