body {
    /*background: url("../images/bg.jpg");*/
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    color: #ffffff;
}

section {
    width: 1200px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.shown {
    display: inline-block;
}

#container {
    width: 520px;
    margin: 0;
    clear: none;
    display: inline-block;
}

#buttons {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#gsbas {
    position: absolute;
    top: 0;
    left: 0;
}

#gsbasform1 {
    position: absolute;
    top: 104px;
    left: 0;
}

#gsbasform2 {
    position: absolute;
    top: 104px;
    left: 104px;
}

#gsbasform3 {
    position: absolute;
    left: 208px;
    top: 104px;
}


#gsformett {
    position: absolute;
    top: 0;
    left: 104px;
}

#gsformtva {
    position: absolute;
    top: 0;
    left: 208px;
}

canvas {
    width: inherit;
    height: 100%;
}

h1 {
    font-family: 'Homemade Apple', cursive;
}


/* Mobile */
@media only screen and (max-width: 480px) {
    body {
        background: url("../images/bg-mobil.png");
        background-repeat: no-repeat;
    }
}